.Home {
  position: relative;
  text-align: center;
  background-color: #f8f8f8;
}
.body {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #f8f8f8;
  width: 100%;
  top: 75vh;
}

/* @media (min-width: 357px) and (max-width: 750px) {
  .body {
    top: 65vh;
  }
}
@media (min-width: 750px) and (max-width: 1024px) {
  .body {
    top: 78vh;
  }
} */
