.Home {
  position: relative;
  text-align: center;
  background-color: #f8f8f8;
}
.body {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: white;
  width: 100%;
  top: 85vh;
}
.main-banner {
  width: 100%;
  height: 45vh;
  background: transparent url('../../images/banner.png') 0% 0% no-repeat
    padding-box;
  opacity: 1;
}
.banner-cards {
  display: grid;
  grid-template-columns: repeat(5, minmax(15%, 1fr));
  grid-template-rows: 160px;
  grid-gap: 1%;
  margin-top: 2%;
  margin-right: 10%;
  margin-left: 10%;
}
.banner-box {
  position: fixed;
  width: 100%;
  z-index: 1;
}
.config-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2% 10%;
  padding: 20px;
  background: #7daf3f url('../../images/arrow-left-line.png') 80% 50% no-repeat
    padding-box;
  transition: background 300ms;
  /* transform: scaleY(1); */
}
.config-box:hover {
  background: #4d302b url('../../images/arrow-left-line.png') 90% 50% no-repeat
    padding-box;
}
.config-box-paragraph {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
}
.config-box-paragraph > p {
  color: white;
  width: 70%;
  text-align: start;
}

/* @media (min-width: 357px) and (max-width: 750px) {
  .body {
    top: 65vh;
  }
}
@media (min-width: 750px) and (max-width: 1024px) {
  .body {
    top: 78vh;
  }
} */
