.store {
  position: relative;
  text-align: center;
  background-color: #f8f8f8;
}
.store-banner-box {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #f8f8f8;
}
.store-main-banner {
  width: 100%;
  height: 38vh;
  background: transparent
    url('../../images/93b0399180bd2529dbf7c5eabc28e303@2x.png') 0% 0% no-repeat
    padding-box;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin-bottom: 2%;
}
.store-main-banner > p,
h1 {
  margin-left: 11%;
}
.store-main-banner > h1 {
  color: #7daf3f;
  font-size: 47px;
  margin-bottom: 0;
  margin-top: 8%;
}
.store-main-banner > p {
  color: #ffffff;
  opacity: 0.8;
  margin-top: 0;
}
.store-container {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.store-body {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  background-color: #f8f8f8;
  width: 100%;
  top: 38vh;
  margin-bottom: 2%;
}
.store-aside {
  background-color: #f8f8f8;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.store-cards-container {
  flex-grow: 10;
  /* background-color: green; */
}
.store-cards-links {
  display: flex;
}
.store-aside-buttons {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e2e2e2;
}
.store-aside-buttons > a {
  height: 60px;
  color: #6f6c6c;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
}
.store-aside-buttons > a > p {
  margin-left: 10%;
}
.store-cards-links > h4 {
  margin: 2%;
  font-size: 16px;
  cursor: pointer;
}
.store-aside-links {
  background-color: #ffffff;
  margin-top: -22%;
  border: 1px solid #e2e2e2;
}
.ban {
  border: 1px solid #e2e2e2;
}
.store-aside-links > h1 {
  cursor: pointer;
}
.sotre-divider {
  width: 11%;
}
.sotre-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(15%, 1fr));
  grid-template-rows: repeat(3, minmax(253px, 1fr));
  grid-gap: 1% 2%;
  padding: 2%;
}
.store-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: black;
}
.store-card > img {
  width: 100%;
  height: auto;
}
.store-loading {
  grid-column: 1/4;
}
.store-loading > button {
  cursor: pointer;
  width: 100%;
  height: 50px;
  background-color: #f2f2f2;
  border: none;
}
.active {
  background: #7daf3f url('../../images/back.png') 90% 50% no-repeat;
}
.active > p {
  color: #ffffff;
}
.store-card-overview {
  background-color: #ffffff;
  text-align: left;
  padding-left: 10%;
}
