.facilities-box {
  display: grid;
  padding: 2%;
  grid-template-columns: repeat(3, minmax(15%, 1fr));
  grid-template-rows: repeat(2, minmax(210px, 1fr));
  grid-gap: 4% 2%;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 9%;
  margin-right: 9%;
}
.facilities-box-title {
  background: #4d302b;
  text-align: start;
  padding: 5%;
}
.facilities-box-title > h1 {
  color: #7daf3f;
  font-size: 33px;
}
.facilities-box-title > p {
  color: #ffffff;
}
.facilities-box-title:hover {
  background: #7daf3f;
}
.facilities-box-title:hover > h1 {
  color: #4d302b;
  font-size: 33px;
}
