.banner-card {
  display: flex;
  opacity: 1;
  position: relative;
  background-size: cover;
}
.banner-card:hover {
  background: #7daf3f !important;
  background-size: cover !important;
}
.banner-card > p {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
