.banner-card {
  display: flex;
  opacity: 1;
  position: relative;
  background-size: cover;
}
.banner-card:hover {
  background: #7daf3f !important;
  background-size: cover !important;
}
.banner-card > p {
  position: absolute;
  color: white;
  font-weight: bold;
  top: 30%;
  right: 40%;
}
