.banner-card {
  display: flex;
  opacity: 1;
  position: relative;
  background-size: cover;
  z-index: 1;
}

.banner-card > p {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.banner-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;

  transition: transform 300ms ease-in-out;
  transform: scale(0);
  transform-origin: center;
}

.banner-card:hover::before,
.banner-card:focus::before {
  transform: scale(1);
  background: #7daf3f;
  background-size: cover;
}

.facilities-banner-card {
  position: relative;
}
.facilities-banner-card:hover > img {
  display: block;
  position: absolute;
  left: 40%;
  top: 40%;
}
.facilities-banner-card > img {
  display: none;
}
